<!DOCTYPE html>
<meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-inline' 'unsafe-eval' https://challenges.cloudflare.com">

<html>
<head>
    <title>BotThisSite: Cloudflare Turnstile Challenge blablabla</title>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>
<body>

<div class = "cf-turnstile"

data-sitekey = "{{sitekey}}"
data-callback = "onTurnstileSuccess"></div>
<!-- data-sitekey = "0x4AAAAAADGOa6thMJ69dkrb" 
data-sitekey = "3x00000000000000000000FF" 
-->
Faithfully solving this Cloudflare Turnstile for the glory of
{{name}} <!--istg if you xss this-->
<script>
    function onTurnstileSuccess(token) {
        console.log("mrrrrrrppp meow :3 who's a good kibty for solving a challenge");

        fetch("/captchas/verify/cf-turnstile?name={{name | urlencode}}",{ //????
            method : "POST",

            headers :{
                "Content-Type": "application/json"
            },

            body: JSON.stringify({"token":token})
        })

    }
</script>

</body>
</html>
