<!DOCTYPE html>
<meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-inline' 'unsafe-eval' https://challenges.cloudflare.com">

<html>
<head>
    <title>BotThisSite: Cloudflare Turnstile Challenge</title>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>
<body>

<div class = "cf-turnstile"
data-sitekey = "{{sitekey}}"
data-callback = "onTurnstileSuccess"></div>

Faithfully solving this Cloudflare Turnstile for the glory of
<b>{{name}}</b> <!--if you xss this--><br>
<span id = "results"></span>
<script>
    function onTurnstileSuccess(token) {
        console.log("mrrrrrrppp meow :3 who's a good kibty for solving a challenge");

        fetch("/captchas/verify/cf-turnstile?name={{name | urlencode}}",{ //????
            method : "POST",

            headers :{
                "Content-Type": "application/json"
            },

            body: JSON.stringify({"token":token})
        })
        .then(response => {
            // console.log(response.json());
            // data = response.json();
            // console.log(data.success);
            return response.json()
        }).then(data=> {
            console.log(data);
            data.success 
            const turnstileResult = document.getElementById("results");
            if (data.success){
                console.log(
                    "actually a good kibty??"
                );
                turnstileResult.textContent = "Success: True"
            }else{
                console.log("hahaha you didnt do it womp womp");
                turnstileResult.textContent = "Success: False"
            }

        })
    }
</script>

</body>
</html>
