<!DOCTYPE html>
<meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-inline' 'unsafe-eval' https://challenges.cloudflare.com">

<html>
<head>
    <title>BotThisSite: Cloudflare Turnstile Challenge blablabla</title>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>
<body>

<div class = "cf-turnstile"
data-sitekey = "0x4AAAAAADGOa6thMJ69dkrb"
data-callback = "onTurnstileSuccess"></div>
<!--get this hardcoded sitekey out aaa-->
<script>
    function onTurnstileSuccess(token) {
        console.log("mrrrrrrppp meow :3 who's a good kibty for solving a challenge");
        // todo: fetchy loll()
        const name = "{{name}}";
        // it does infact work
        // fetch("/captchas/verify/cf-turnstile?name={{name}}",{
        //     method : "POST",

        //     headers :{
        //         "Content-Type": "application/json"
        //     },

        //     body: JSON.stringify({"token":token})
        // })
        window._tsToken  = token;

    }

    function actuallySubmitIt(){
        const name = 
    }

</script>
We're solving this cloudflare turnstile for:
<form>
<input id = "nameInput" type = "text" value="{{name or ''}}" > <!--google sys this works-->
<button type="submit">Submit</button>
</form>
</body>
</html>
