<!DOCTYPE html>
<html>
  <head>
    <title>BotThisSite: reCAPTCHA v2 Challenge</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
   
    <!-- <form action="?" method="POST">
      <div class="g-recaptcha" data-sitekey="{{sitekey}}"></div>
      <br/>
      <input type="submit" value="Submit">
    </form>
     -->
    <div class="g-recaptcha" data-sitekey="{{sitekey}}" data-callback="onRecaptchaSuccess"></div>
    Faithfully solving this reCAPTCHA v2 for the glory of <b>{{name}}</b><br>
    <span id="results"></span>
    <script>
    function onRecaptchaSuccess(token) {
        console.log("mrrrrrrppp meow :3 who's a good kibty for solving a challenge");

        fetch("/captchas/verify/recaptcha-v2?name={{name | urlencode}}",{ //????
            method : "POST",

            headers :{
                "Content-Type": "application/json"
            },

            body: JSON.stringify({"token":token})
        })
        .then(response => {
            return response.json()
        }).then(data=> {
            console.log(data);
            data.success 
            const recaptchaResult = document.getElementById("results");
            if (data.success){
                console.log(
                    "actually a good kibty??"
                );
                recaptchaResult.textContent = "Success: True"
            }else{
                console.log("hahaha you didnt do it womp womp");
                recaptchaResult.textContent = "Success: False"
            }

        })
    }
</script>

  </body>
</html>
