
<!DOCTYPE html>

<html>
<head>
    <title>BotThisSite</title>
</head>
<body>
<h1>BotThisSite</h1>
<p>
We want YOU to bot this site. <br>
tl;dr solve captcha, number go up, your name in the leaderboard go up. <br>
Number go up = good.<br>
</p>
<h2> Total captchas solved: {{total_solved}}</h2>

<p>
Links: <br>
<a href="/leaderboard">Leaderboard</a> <br>
(Append ?name=yourname to any captcha link below)<br>
{% for provider in providers %}
<a href="/captchas/{{provider.slug}}">Solve {{provider.name}}</a> <br>
{% endfor %}
</p>

Or, put your name here and pick a captcha and we'll just make you the link: <br>
<form id = "gotonamedcaptcha">
    <label>
        Name:
        <input type="text" id="name" name="name" required>
    </label>
    <label>
        Captcha:
        <select id="captcha">
            {% for provider in providers %}
            <option value="{{provider.slug}}">{{provider.name}}</option>
            {% endfor %}
        </select>
    </label>
    <button type="submit">Go solve captchas?</button>
</form>
<script>
  document.getElementById('gotonamedcaptcha').addEventListener('submit', (e) => {
    e.preventDefault();
    const name = document.getElementById('name').value;
    const slug = document.getElementById('captcha').value;
    window.location.href = `/captchas/${slug}?name=${encodeURIComponent(name)}`;
  });
</script>
<footer><small>building this website as we fly it, since 2026<br><small>:3 and here's to another day of it</small><small></footer>

</body>
</html>
