
<!DOCTYPE html>

<html>
<head>
    <title>BotThisSite</title>
</head>
<body>
<h1>BotThisSite</h1>
<p>
We want YOU to bot this site. <br>
tl;dr solve captcha, number go up, your name in the leaderboard go up. <br>
Number go up = good.<br>
</p>
<h2> Total captchas solved: {{total_solved}}</h2>

<p>
Links: <br>
<a href="/leaderboard">Leaderboard</a> <br>
<a href="/captchas/cf-turnstile">Solve Cloudflare Turnstiles(Append ?name=yourname to URL)</a>
</p>

Or, put your name here and we'll just make you the link: <br>
<form id = "gotonamedcaptcha">
    <label>
        Name:
        <input type="text" id="name" name="name" required>

    </label>
    <button type="submit">Go solve captchas?</button>
</form>
<script>
  document.getElementById('gotonamedcaptcha').addEventListener('submit', (e) => {
    e.preventDefault();
    const name = document.getElementById('name').value;
    window.location.href = `/captchas/cf-turnstile?name=${encodeURIComponent(name)}`;
  });
</script>
<footer><small>building this website as we fly it, since 2026</small></footer>

</body>
</html>
